.container {
  padding: 40px 20px;
  background-color: #333;
  text-align: center;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 800px;
}
h1 {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 15px;
}
p {
  color: #f4f4f9;
  font-size: 1.2em;
  line-height: 1.6;
}

table, th, td {
  border: 2px solid black;
  margin: 30px auto;
  border-collapse:collapse;
  width: 750px;
  height: 50px;
  max-width: 750px;
  max-height: 50px;
}
.tr_colorato_scuro{
  background-color: #1b1b1b;
  transition: background-color 0.2s ease;
}
.tr_colorato_chiaro{
  background-color: #3b3b3b;
  transition: background-color 0.2s ease;
}  
.tr_colorato_scuro:hover{
  background-color: #222;
  transition: background-color 0.2s ease;
}
.tr_colorato_chiaro:hover{
  background-color: #2b2b2b;
  transition: background-color 0.2s ease;
}  
th, td {
  padding: 10px;
  text-align: center;
}
